.calculatPage {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.opening {
  font-weight: 600;
  font-size: 1.5em;
}

.calculator {
  border: 3px solid transparent;
  width: 500px;
}

@media screen and (max-width: 700px) {
  .calculatPage {
    flex-direction: column;
  }

  .calculator {
    margin-top: 70px;
  }
}
