* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  padding: 10px;
  background: linear-gradient(60deg, rgba(62, 62, 62, 0.3), #fff, rgba(62, 62, 62, 0.3));
  bottom: 0;
  position: absolute;
  width: 100%;
}
