@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 95vw;
  padding: 15px 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav {
  margin-right: 30px;
}

.nav-link {
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  color: #3e3e3e;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgb(226, 226, 226);
}

.nav-link:hover {
  box-shadow: 1px 1px 10px rgb(160, 160, 160);
}

.nav-link:active {
  box-shadow: 1px 1px 10px rgb(53, 53, 53);
}
