* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: aliceblue;
}

.nav-linkes {
  list-style: none;
  display: flex;
}

.nav-link {
  margin-right: 5px;
  padding-left: 5px;
}

.nav-link:nth-child(2),
.nav-link:nth-child(3) {
  border-left: 1px solid #3e3e3e;
}
