.home-page {
  margin: 30px 30px 30px 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.headline {
  margin-top: 10px;
}

.paragraph {
  margin-top: 30px;
  line-height: 1.5em;
}
